<footer id="footer-style" class="container-fluid font-small">
<div class="container-fluid text-xs-center">
  <div  class="row">

    <div class="col-md-4 mt-md-0 mt-3 ">
      <h3 class="card-title d-flex  justify-content-center">Contact</h3>
      <p class="d-flex  justify-content-center">
        <span><i class="fa fa-home" style="color: red"></i> Marrakech, Socoma 1 1996 </span> </p>
      <p class="d-flex  justify-content-center">
        <span> <i class="fa fa-envelope" style="color: red"></i> NewThrilling@gmail.com </span></p>
      <p class="d-flex  justify-content-center">
        <span> <i class="fa fa-phone" style="color: red"></i> 05 22 55 12 55 </span></p>

    </div>
    <div class="col-md-4 mt-md-0 mt-3 d-flex justify-content-center align-items-center">
      <img src="../../../../assets/imgs/logo2.jpg" height="100px" width="300px" class="img-fluid">
    </div>
    <div class="col-md-4 mt-md-0 mt-3 ">
      <div class="card-body">
        <h3 class="card-title d-flex justify-content-center" >Suivez Nous !</h3>
        <div class="d-flex justify-content-center">
        <i class="fa fa-facebook-square" style="font-size:36px;color:blue"></i>
        <i class="fa fa-instagram" style="font-size:36px;color:#FF7F50"></i>
        </div>
        <br> <br>
        <br>
      </div>
    </div>
  </div>
</div>
</footer>

