.example-card {
  max-width: 280px;
  max-height: 400px;
  float: left;
}

.example-header-image {
  background-size: cover;
}

.searchBar{
  max-width: 80%;
  height: 80px;
  margin-left: 10%;
  margin-top: 2%;
}
.ProductsDiv{
margin-left: 15%;
 }
.categoriesDiv{
  margin-top: 1%;
  margin-left: 10%;
  //max-width: 10%;
  float: left;
}
