<div>
  <mat-toolbar style="background-color: #121315" class="container-fluid" >
    <div fxShow="true" fxHide.gt-sm="true">
      <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <img src="../../../../assets/imgs/logo2.jpg" height="50px" width="150px" class="img-fluid">
    <div  fxShow="true" fxHide.lt-md="true" style="float: right">
      <div style="float: left">
      <button mat-button routerLink="welcome">Acceuil</button>
      <button mat-button routerLink="products">Nos Produits</button>
      <button mat-button routerLink="aPropos">A propos</button>
      <button mat-button routerLink="contact">Nous Contactez</button>
      <a href="https://api.whatsapp.com/send?phone=+212650459315"><i class="fa fa-whatsapp fa-2x" style="color: greenyellow"></i></a>
      </div>
      <div style="margin-left: 50%">
      <button mat-icon-button style="margin-right: 20px" [matMenuTriggerFor]="menu">
        <i matBadge="{{products.length}}" class="fa fa-shopping-cart fa-2x"></i>
      </button>
      <mat-menu  #menu="matMenu" class="cartStyle">
        <mat-list role="list">
          <p *ngIf="!cart" class="text-center"> Le Panier est Vide</p>
          <mat-list-item *ngFor="let product of products" role="listitem">
            <button  mat-menu-item><img src="{{product.product.picture}}" height="50px"> {{product.product.label}} x {{product.quantity}}</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <button (click)="order()" class="btn btn-success" [disabled]="!cart" style="margin: 5px">
              <i class="fa fa-shopping-cart"></i>Commander</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <button (click)="ClearCart()" class="btn btn-danger" style="margin: 5px">
              <i class="fa fa-trash"></i>Vider le panier</button>
          </mat-list-item>
        </mat-list>
      </mat-menu>
     <input placeholder="Rechercher un produit">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <mat-list>
          <mat-list-item>
        <button (click)="sidenav.toggle()" mat-button routerLink="welcome">Acceuil</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
        <button (click)="sidenav.toggle()" mat-button routerLink="products">Nos Produits</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
        <button (click)="sidenav.toggle()" mat-button routerLink="aPropos">A propos</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
        <button (click)="sidenav.toggle()" mat-button routerLink="contact">Nous Contactez</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <!--mat-list-item>
        <a (click)="sidenav.toggle()" mat-fab color="primary" class="fixed-bottom"><i class="fa fa-times-circle"></i></a>
          </mat-list-item-->
        </mat-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="min-height: 74.5vh" class="main">
      <router-outlet></router-outlet>
    </div>
      <a href="https://api.whatsapp.com/send?phone=+212650459315" mat-fab fxShow fxHide.gt-md color="primary"  class="fixed-bottom"
              style="position: fixed;
              bottom: 7%;
              left: 2%;">
        <i class="fa fa-whatsapp fa-2x" style="color: greenyellow"></i>
      </a>
      <a href="https://api.whatsapp.com/send?phone=+212650459315" mat-fab fxHide fxShow.gt-md color="primary"  class="fixed-bottom"
         style="position: fixed;
              bottom: 20%;
              left: 2%;">
        <i class="fa fa-whatsapp fa-2x" style="color: greenyellow"></i>
      </a>
      <button fxShow="true" fxHide.gt-sm="true" mat-fab style="margin-right: 20px" [matMenuTriggerFor]="menu"
              color="primary"
              style="position: fixed;
              bottom: 7%;
              left: 85%;">
        <i matBadge="{{products.length}}" class="fa fa-shopping-cart fa-2x"></i>
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
