<div>
  <mat-toolbar color="primary" class="container-fluid">
    <div fxShow="true" fxHide.gt-sm="true">
      <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <img src="../../../../assets/imgs/logo2.jpg" height="50px" width="150px" class="img-fluid">
    <div fxShow="true" fxHide.lt-md="true">
      <button mat-button routerLink="welcome">Acceuil</button>
      <button mat-button routerLink="products">Nos Produits</button>
      <button mat-button routerLink="aPropos">A propos</button>
      <button mat-button routerLink="contact">Nous Contactez</button>
      <a href="https://api.whatsapp.com/send?phone=+212650459315"><i class="fa fa-whatsapp fa-2x" style="color: greenyellow"></i></a>

      <button mat-icon-button style="margin-right: 20px" [matMenuTriggerFor]="menu">
        <i matBadge="{{products.length}}" class="fa fa-shopping-cart fa-2x"></i>
      </button>
      <mat-menu #menu="matMenu" class="cartStyle">
        <mat-list role="list">
          <p *ngIf="!cart" class="text-center"> Le Panier est Vide</p>
          <mat-list-item *ngFor="let product of products" role="listitem">
            <button  mat-menu-item><img src="{{product.product.picture}}" height="50px"> {{product.product.label}} x {{product.quantity}}</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <button (click)="order()" class="btn btn-success" [disabled]="!cart" style="margin: 5px">
              <i class="fa fa-shopping-cart"></i>Commander</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <button (click)="ClearCart()" class="btn btn-danger" style="margin: 5px">
              <i class="fa fa-trash"></i>Vider le panier</button>
          </mat-list-item>
        </mat-list>
      </mat-menu>
     <input  placeholder="Rechercher un produit">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">

        <button mat-button routerLink="welcome">Acceuil</button>
        <button mat-button routerLink="products">Nos Produits</button>
        <button mat-button routerLink="aPropos">A propos</button>
        <button mat-button routerLink="contact">Nous Contactez</button>
        <a href="https://api.whatsapp.com/send?phone=+212650459315"><i class="fa fa-whatsapp fa-2x" style="color: greenyellow"></i></a>
        <a (click)="sidenav.toggle()" mat-button><i class="fa fa-times-circle"></i></a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="min-height: 74.5vh" class="main">
      <router-outlet></router-outlet>
    </div></mat-sidenav-content>
  </mat-sidenav-container>

</div>
